{% extends "base.html" %}

{% block title %}Secret page{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="display-5">{{ user.username.upper() }}</h1>
    </div>
    <div class="row mt-3">
        <div><b>Username:</b> {{ user.username }}</div>
    </div>
    <div class="row">
        <div><b>Email:</b> {{ user.email }}</div>
    </div>
    <div class="row">
        <div><b>First Name:</b> {{ user.first_name.capitalize() }}</div>
    </div>
    <div class="row">
        <div><b>Last Name:</b> {{ user.last_name.capitalize() }}</div>
    </div>
</div>
{% endblock %}